/* JustCoderdev's Style v1 */

:root {
	/* palette */
	--fg-primary: hsl(45deg, 25%, 80%);

	--bg-primary:   #252525;
	--bg-secondary: #3c3c3c;

	--tint-white: #ffffff;
	--tint-red: hsl(0deg,  100%,  55%);

	/* --tint-yellow-dim: hsl(45deg,  40%,  40%); /1* oklch(60% 0.1 90) *1/ */
	/* --tint-yellow:     hsl(45deg,  80%,  40%); /1* oklch(65% 0.1 90) *1/ */
	/* --tint-yellow-br:  hsl(45deg,  80%,  60%); /1* oklch(80% 0.1 90) *1/ */

	--tint-yellow-dim: hsl(45deg,  80%,  30%);
	--tint-yellow:     hsl(45deg,  80%,  40%);
	--tint-yellow-br:  hsl(45deg,  80%,  60%);

	--tint-yellow-dim-o: oklch(50% 0.15 90);
	--tint-yellow-o:     oklch(70% 0.15 90);
	--tint-yellow-br-o:  oklch(90% 0.15 90);
}

html {
	display: flex;
	justify-content: center;
	font-size: 1.6em;
}

body {
	padding: 0.5em;
	width: 80ch;

	background-color: var(--bg-primary);
	color: var(--fg-primary);
	line-height: 1.3;

	/* Linux: DejaVu Sans Mono Font */
	font-family: monospace;
}

header, footer {
	padding: 1em;
	background-color: var(--bg-secondary);
}

header > span { text-align: right; }
header {
	margin: 0rem 0rem 2rem 0rem;

	display: flex;
	justify-content: space-between;
}

footer { margin: 2rem 0rem 0rem 0rem; }

h1 { text-align: center; }
h2 { margin: 2rem 0rem 1rem 0rem; }
h3 { margin: 2rem 1rem 1rem 1rem; }

/* p::first-letter  { padding-left: 2ch; } */
p  { margin: 0.8rem 1rem; }
li {
	margin: 0.5rem 1rem;
	margin: 0.5rem 1rem 0.5rem 0;

	display: flex;
	align-items: center;
	gap: .5rem;
}
li::marker {
	content: '* ';
	font-weight: 900;
}
li > img {
	height: 1rem;
	width: 1rem;
}

*[title] { text-decoration: 0.1em underline dashed var(--tint-yellow); }
*[title]:hover { text-decoration-color: var(--tint-yellow-br); }

*:has(> code) { line-height: 1.5em; }
code {
	padding: 0.1em 0.4em;
	background-color: var(--bg-secondary);
	border-radius: 0.1em;
}
pre {
	max-width: calc(80ch + 2*1em);
	
	margin: 0rem 1rem;
	padding: 0.5em 1em;
	
	background-color: var(--bg-secondary);
	border-radius: 0.2em;
}
sup { vertical-align: top; font-size: 0.6em; }
em { color: var(--tint-red); }

a, a:link { color: var(--tint-yellow);     } /* Unvisited link  */
a:visited { color: var(--tint-yellow-dim); } /* Link in history */
a:hover   { color: var(--tint-yellow-br);  } /* Mouse hovering  */
a:active  { color: var(--tint-white);      } /* Mouse clicking  */

